#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  vikunja-app.service
BindsTo=vikunja.service
After=vikunja.service postgresql-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/vikunja-app.pid %t/vikunja-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/vikunja-app.pid \
    --cidfile %t/vikunja-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/vikunja.pod-id --replace -d --name  vikunja-app \
    --volume vikunja-app:/app/vikunja/files/:Z \
    --env-file=%S/state/vikunja-db.env \
    ${VIKUNJA_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/vikunja-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP vikunja-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/vikunja-app.ctr-id
PIDFile=%t/vikunja-app.pid
Type=forking

[Install]
WantedBy=default.target
